@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* -_-_-_-_-_-_-_-_-_-_ Headings _-_-_-_-_-_-_-_-_-_- */

.uppercase{
    text-transform: uppercase;
}
h1, h2, h3, h4, h5{
    font-family: "Roboto Condensed", sans-serif;
}
h1{
    letter-spacing: 4px;
}
p {
    font-family: "serrat", sans-serif;
}

.header_image{
    background: url(../../assets/images/header/athboy_aerial_view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
@media(min-width: 992px){
    .header_image{
        height: 600px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Header Titles _-_-_-_-_-_-_-_-_-_- */
.headingtext{
    position: absolute;
    top: 280px;
    color: white;
    font-weight: 700;
    background-color: rgba(255, 165, 0, .8);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    letter-spacing: 4px;
}
.headingtext h1{
    font-size: 30px;
}
@media(min-width: 992px){
    .headingtext{
        position: absolute;
        top: 80px;
        color: white;
        font-weight: 700;
        background-color: rgba(255, 165, 0, .9);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        letter-spacing: 3px;
    }
    .headingtext h1{
        font-size: 50px;
    }
} 
.index-paragraph-2{
  visibility: hidden;
  display: none;
}
.index-paragraph-2 b{
    color: orange;
}
@media(min-width: 992px){
    .index-paragraph-2{
        visibility: visible;
        display: block;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Nav Links _-_-_-_-_-_-_-_-_-_- */
.links{
    background-color: grey;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%
}
.links a{
    color: white;
}
.links a:hover{
    color: orange;
}
.links .activeurl{
    color: orange;
    border-bottom: 1px solid;
    background-color: rgb(87, 80, 80);
}
.mainnav{
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0;
    border-bottom: 1px solid orange
}
.navlink{
    border-right: 1px solid white;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    text-align: left;
    padding-left: 5px;
    margin: 0 !important;
}
.navlink i{
    padding-right: 2px;
}
@media(min-width: 992px){
    .navlink{
        font-size: 25px;
        text-align: center;
    }
    .navlink i{
        padding-right: 5px;
    }
}

/* -_-_-_-_-_-_-_-_-_-_ Footer _-_-_-_-_-_-_-_-_-_- */
.footer{
    background-color: grey;
    min-height: 30px;
    border-top: 1px solid orange;
}
.footericons{
    font-size: 20px;
    color: white;
    margin-right: 3px;
}
.footericons:hover{
    color: orange;
}
.left-footer-col{
    padding-top: 10px;
    color: white;
    border-right: 1px solid;
}
.left-footer-col h5{
    font-size: 15px;
    padding-left: 10px;
}
.right-footer-col{
    padding-top: 10px;
    color: white;
    font-size: 10px;
}
.right-footer-col h5{
    font-size: 10px;
}
.right-footer-col ul {
  margin: 0; 
  padding:0
}
.copyright{
    font-size: 7px;
    padding-left: 50px;
}  

@media(min-width: 992px){
    .footericons{
        font-size: 50px;
        color: white;
        padding-right: 50px;
    }
    .left-footer-col{
        padding-left: 100px;
        color: white;
        border-right: 10px solid;
    }
    .left-footer-col h5{
        font-size: 30px;
        letter-spacing: 4px;
        
    }
    .copyright{
        font-size: 10px;
        padding-left: 50px;
    }   
    .right-footer-col{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .right-footer-col h5{
        font-size: 20px;
        padding-left: 150px;
        letter-spacing: 4px;
    }
    .right-footer-col ul {
        padding-left: 90px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ body common elements _-_-_-_-_-_-_-_-_-_- */
.lightcontainer{
    background-color: white;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;

}
.darkcontainer{
    background-color: lightgray;
}

/* -_-_-_-_-_-_-_-_-_-_ index page _-_-_-_-_-_-_-_-_-_- */
.introtext, .maptext, .introsectiontext p{
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}
.intorrow, .videorow, .maprow{
    height: 560px;
    padding-bottom: 20px;
}
.introsectiontext{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.introsectionpic {
    background: url(../../assets/images/index/athboy_sign_park.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
.introtext, .videoheading, .introheading, .mapheading, h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.introtext h1{
    font-size: 25px;
}
.ramblevideo, .athboyvideo{
    background-size: cover;
    width: 95%;
    height: 100%;
    padding-left: 15px;
}
.ramblevideo{
    padding-bottom: 20px;
}
.videocol{
    border-right: 1px solid orange;
}
.mapcol iframe{
    width: 100%;
    height: 360px;
}
@media(min-width: 992px){
    .mapcol iframe{
        width: 100%;
        height: 100%;
    }
    .introtext h1{
        font-size: 50px;
    }
}


/* -_-_-_-_-_-_-_-_-_-_ activites page _-_-_-_-_-_-_-_-_-_- */

.sportscol, .activitycol{
    border-right: 1px solid orange;
    padding-left: 50px;
    padding-right: 50px;
}
.sportscol, .activitycol, h1{
    font-weight: 700;
    border-bottom: 1px solid orange;
    text-align: center;
}
.sportscol, .activitycol, h3{
    padding-bottom: 20px;
}
.sport_row{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid orange;
}
.sport_row span{
    font-weight: 700;
    background-color: lightgray;
}
/* -_-_-_-_-_-_-_-_-_-_ activites page - Event Section _-_-_-_-_-_-_-_-_-_- */
.event-section-title{
    background-color: gray;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: orange;
}
.event-section-title h2{
    padding-top: 5px;
    padding-bottom: 7px;
    letter-spacing: 1px;
}
 .date-section-col-light{
     background-color: lightgray;
     border-right: 2px solid white;
     vertical-align: middle;
 }
 .event-detail-row{
    border: 1px solid orange;
    margin-bottom: 10px;
}
.details-section-row-light{
    background-color: lightgray;

}
.details-section-row-light h4{
    border-bottom: 2px solid orange;
}
.date-heading{
    background-color: orange;
    text-align: center
}
.date-heading{
    background-color: orange;
    text-align: center
}
.date-details{
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}
.more-info{
    background-color: orange;
}
@media(min-width: 992px){
    .gaa, .soccer, .rugby, .scouts, .classact, .reeldeal {
    min-height: 50px;
    width: 50px;
       background-color: white;
    }
    .event-row{
        margin: 0 20% 0 20%;
    }
}
.eventsectionrow{
    margin: 0 auto;
}
.eventcol{
    border: 1px solid black;
    margin: 0 auto;
    min-height: 100px;
}

/* -_-_-_-_-_-_-_-_-_-_ activites page pictures _-_-_-_-_-_-_-_-_-_- */
.gaa {
    background: url(../../assets/images/activity/athboy_gaa_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    background-color: lightgray;
}
.soccer {
    background: url(../../assets/images/activity/athboy_soccer_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.rugby {
    background: url(../../assets/images/activity/athboy_rugby_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.classact {
    background: url(../../assets/images/activity/classact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.reeldeal {
    background: url(../../assets/images/activity/reeldeal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.scouts {
    background: url(../../assets/images/activity/scouts.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
/* -_-_-_-_-_-_-_-_-_-_ activites page - Event images _-_-_-_-_-_-_-_-_-_- */
.puca {
    content: url(../../assets/images/activity/events/puca.jpg);
}
.blue_jean {
    content: url(../../assets/images/activity/events/blue_jean.jpg);
}
/* -_-_-_-_-_-_-_-_-_-_ history page _-_-_-_-_-_-_-_-_-_- */
.hist-timeline-col{
    border-bottom: 1px solid orange;
    padding-bottom: 50px;
}
.hist-timeline-row{
    margin-left: 10px;
    margin-right: 5px;
}
.timeline-section{
    border-left: 1px solid orange;
    padding-top: 20px;
    padding-bottom: 20px;
}
.timeline-hist-dark{
    background-color: lightgray;
}
.info-icon{
    color: orange;
    font-size: 20px;
    padding-right: 5px;
}
.timeline-section h4{
    padding-left: 30px;
    padding-top: 30px;
}
.timeline-section p{
    padding-left: 40px;
}
.timeline-fact h5{
    position: absolute;
    left: 5px;
    color: orange;
}
.timeline-fact span{
    padding-left: 10px;
}
.carousel {
  margin: 0 auto;
  padding-bottom: 20px;
}
.prev-arrow, .next-arrow{
    background-color: white;
    font-size: 30px;
    color: orange;
}
.prev-arrow:hover, .next-arrow:hover{
    background-color: orange;
    font-size: 30px;
    color: white;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: orange;
}
.carousel-caption h2{
    color: black;
}
.carousel-heading, .carousel-paragraph {
    text-align: center;
}
@media(min-width: 992px){
    .hist-timeline-row{
        margin-left: 20%;
        margin-right: 20%;
       margin-bottom: 20px;
    }
    .carousel{
        margin-left: 10%;
        margin-right: 10%;
        border-right: 1px solid orange;
        border-left: 1px solid orange;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ history page pictures _-_-_-_-_-_-_-_-_-_- */
.hist-img-1{
    content: url(../../assets/images/history/athboy_mainstreet_1916.jpg);
}
.hist-img-2{
    content: url(../../assets/images/history/athboy_mainstreet.jpg);
}
.hist-img-3{
    content: url(../../assets/images/history/athboy_mainstreet_current.jpg);
}
.hist-img-4{
    content: url(../../assets/images/history/church.jpg);
}
.hist-img-5{
    content: url(../../assets/images/history/church_current.jpg);
}
.hist-img-6{
    content: url(../../assets/images/history/pchurch.jpg);
}
.hist-img-7{
    content: url(../../assets/images/history/ulsterbank.jpg);
}
.hist-img-8{
    content: url(../../assets/images/history/ulsterbank_current.jpg);
}
.hist-img-9{
    content: url(../../assets/images/history/train_workshop.jpg);
}
.hist-img-10{
    content: url(../../assets/images/history/train_workshop_current.jpg);
}

/* -_-_-_-_-_-_-_-_-_-_ inquiry page _-_-_-_-_-_-_-_-_-_- */
.formrow{
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid orange;
    background-color: lightgray; 
}
.inquirytext{
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.inquiryform{
    margin: 0 auto;
    max-width: 70%;
}
.form-control{
    margin-bottom: 5px;
}
.radio{
    padding-right: 25px;
    padding-left: 10px;
}
@media(min-width: 992px){
    .formrow {
        margin: 20px 25% 20px 25%;
     }
}

