@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* -_-_-_-_-_-_-_-_-_-_ Headings _-_-_-_-_-_-_-_-_-_- */

.uppercase{
    text-transform: uppercase;
}
h1, h2, h3, h4, h5{
    font-family: "Roboto Condensed", sans-serif;
}
p {
    font-family: "serrat", sans-serif;
}

.header_image{
    background: url(../../assets/images/header/athboy_aerial_view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}
@media(min-width: 992px){
    .header_image{
        height: 600px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Header Titles _-_-_-_-_-_-_-_-_-_- */
.headingtext{
    position: absolute;
    top: 10px;
    color: white;
    font-weight: 700;
    background-color: rgba(255, 165, 0, .9);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    letter-spacing: 4px;
}
.headingtext h1{
    font-size: 30px;
}
@media(min-width: 992px){
    .headingtext{
        position: absolute;
        top: 50px;
        color: white;
        font-weight: 700;
        background-color: rgba(255, 165, 0, .9);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        letter-spacing: 3px;
    }
    .headingtext h1{
        font-size: 50px;
    }
} 
/* -_-_-_-_-_-_-_-_-_-_ Nav Links _-_-_-_-_-_-_-_-_-_- */
.links{
    background-color: grey;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}
.mainnav {
    padding-left: 2.5px;
    padding-top: 10px;
}
.navlink{
    padding-right: 8px;
}
.links a{
    color: white;
}
.links a:hover{
    color: orange;
}
.icons{
    margin-right: 10px;
    color: orange;
}
.links .activeurl{
    color: orange;
    border-bottom: 1px solid;
}
@media(min-width: 992px){
    .navlink{
        padding-right: 9em;
    }
    .mainnav {
        padding-left: 8em;
        padding-top: 20px;
    }
    .links{
        font-size: 22px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Footer _-_-_-_-_-_-_-_-_-_- */
.footer{
    background-color: grey;
    min-height: 30px;
    border-top: 1px solid orange;
}
.footericons{
    font-size: 20px;
    color: white;
    margin-right: 3px;
}
.footericons:hover{
    color: orange;
}
.left-footer-col{
    padding-top: 10px;
    color: white;
    border-right: 1px solid;
}
.left-footer-col h5{
    font-size: 15px;
    padding-left: 10px;
}
.right-footer-col{
    padding-top: 10px;
    color: white;
    font-size: 10px;
}
.right-footer-col h5{
    font-size: 10px;
}
.right-footer-col ul {
  margin: 0; 
  padding:0
}
.copyright{
    font-size: 7px;
    padding-left: 50px;
}  

@media(min-width: 992px){
    .footericons{
        font-size: 50px;
        color: white;
        padding-right: 50px;
    }
    .left-footer-col{
        padding-left: 100px;
        color: white;
        border-right: 10px solid;
    }
    .left-footer-col h5{
        font-size: 30px;
        letter-spacing: 4px;
        
    }
    .copyright{
        font-size: 10px;
        padding-left: 50px;
    }   
    .right-footer-col{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }
    .right-footer-col h5{
        font-size: 20px;
        padding-left: 150px;
        letter-spacing: 4px;
    }
    .right-footer-col ul {
        padding-left: 90px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ body common elements _-_-_-_-_-_-_-_-_-_- */
.lightcontainer{
    background-color: white;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;

}
.darkcontainer{
    background-color: lightgray;
}

/* -_-_-_-_-_-_-_-_-_-_ index page _-_-_-_-_-_-_-_-_-_- */
.introtext, .maptext, .introsectiontext p{
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}
.intorrow, .videorow, .maprow{
    height: 560px;
    padding-bottom: 20px;
}
.introsectiontext{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.introsectionpic {
    background: url(../../assets/images/header/athboy_aerial_view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    width: 100%;
}
.introtext, .videoheading, .introheading, .mapheading, h1{
    text-align: center;
    letter-spacing: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ramblevideo, .athboyvideo{
    background-size: cover;
    width: 95%;
    height: 100%;
    padding-left: 15px;
}
.ramblevideo{
    padding-bottom: 20px;
}
.videocol{
    border-right: 1px solid orange;
}
.mapcol iframe{
    width: 100%;
    height: 360px;
}

/* -_-_-_-_-_-_-_-_-_-_ activites page _-_-_-_-_-_-_-_-_-_- */

.sportscol, .activitycol{
    border-right: 1px solid orange;
    padding-left: 50px;
    padding-right: 50px;
}
.sportscol, .activitycol, h1{
    font-weight: 700;
    border-bottom: 1px solid orange;
    text-align: center;
}
.sportscol, .activitycol, h3{
    padding-bottom: 20px;
}
.sport_row{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid orange;
}
.sport_row span{
    font-weight: 700;
    background-color: lightgray;
}

/* -_-_-_-_-_-_-_-_-_-_ activites page pictures _-_-_-_-_-_-_-_-_-_- */
.gaa {
    background: url(../../assets/images/activity/athboy_gaa_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    background-color: lightgray;
}
.soccer {
    background: url(../../assets/images/activity/athboy_soccer_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.rugby {
    background: url(../../assets/images/activity/athboy_rugby_crest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.classact {
    background: url(../../assets/images/activity/classact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.reeldeal {
    background: url(../../assets/images/activity/reeldeal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}
.scouts {
    background: url(../../assets/images/activity/scouts.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-color: white;
}

@media(min-width: 992px){
    .gaa, .soccer, .rugby, .scouts, .classact, .reeldeal {
    min-height: 50px;
    width: 50px;
       background-color: white;
    }
}
.eventsectionrow{
    margin: 0 auto;
}
.eventcol{
    border: 1px solid black;
    margin: 0 auto;
    min-height: 100px;
}

/* -_-_-_-_-_-_-_-_-_-_ history page _-_-_-_-_-_-_-_-_-_- */
.prev-arrow, .next-arrow{
    background-color: white;
    font-size: 30px;
    color: orange;
}
.prev-arrow:hover, .next-arrow:hover{
    background-color: orange;
    font-size: 30px;
    color: white;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: orange;
}
.carousel-caption h2{
    color: black;
}

/* -_-_-_-_-_-_-_-_-_-_ history page pictures _-_-_-_-_-_-_-_-_-_- */
.mainstreet-1916{
    content: url(../../assets/images/history/athboy_mainstreet_1916.jpg);
}
.mainstreet{
    content: url(../../assets/images/history/athboy_mainstreet.jpg);
}
.mainstreet-current{
    content: url(../../assets/images/history/athboy_mainstreet_current.jpg);
}
/* -_-_-_-_-_-_-_-_-_-_ inquiry page _-_-_-_-_-_-_-_-_-_- */
.inquirytext{
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.inquiryform{
    margin: 0 auto;
    max-width: 50%;
}
.form-control{
    margin-bottom: 5px;
}
.radio{
    padding-right: 25px;
    padding-left: 10px;
}

